/*颜色*/
.ftt-blue {
    background-color: #2C3BA6;
}

.ftt-light-blue {
    background-color: #5695FE;
}

.ftt-orange {
    background-color: #F26925;
}

.ftt-light-orange {
    background-color: #F7B24B;
}

.ftt-red {
    background-color: #FF3F12;
}
.ftt-bright-red {
    background-color: #AE201F;
}

.ftt-light-red {
    background-color: #D86A6D;
}